.btn {
  background-color: blue;
  color: white;
  margin: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

body {
  background-color: white;
  font-family: "Segoe UI";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10%;
  position: relative;
}

body h1 {
  color: black;
  font-size: 2rem;
}

body input {
  border-radius: 5px;
  border: none;
  padding: 0.25rem 0.5rem;
  margin: 1rem 0;
  -webkit-box-shadow: inset 0 0 5px #000000af;
          box-shadow: inset 0 0 5px #000000af;
  position: relative;
  overflow: visible;
}

body input::-webkit-input-placeholder {
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  position: absolute;
  top: 0.5rem;
}

body input:-ms-input-placeholder {
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  position: absolute;
  top: 0.5rem;
}

body input::-ms-input-placeholder {
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  position: absolute;
  top: 0.5rem;
}

body input::placeholder {
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  position: absolute;
  top: 0.5rem;
}

body input:focus::-webkit-input-placeholder {
  font-size: 0.75rem;
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

body input:focus:-ms-input-placeholder {
  font-size: 0.75rem;
  transform: translateY(-0.25rem);
}

body input:focus::-ms-input-placeholder {
  font-size: 0.75rem;
  transform: translateY(-0.25rem);
}

body input:focus::placeholder {
  font-size: 0.75rem;
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

body > div {
  padding: 1rem;
  width: 100%;
}

body .enter-name-box {
  font-size: 1.5rem;
}

body .enter-name-box input {
  font-size: 1.5rem;
}

body .type-tester {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow-wrap: normal;
}

body .type-tester .message {
  background-color: lightgray;
  border-radius: 5px;
}

body .type-tester #toType {
  font-size: 1.8rem;
  font-weight: 500;
}

body .type-tester .highlighted {
  background-color: green;
  border-right: 2px solid transparent;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .type-tester .mistake {
  background-color: red;
}

body .type-tester input {
  font-size: 1.5rem;
}

body .leaderboard table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

body .leaderboard table td,
body .leaderboard table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

body .leaderboard table tr:nth-child(even) {
  background-color: #dddddd;
}

body .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 69, 69, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .overlay input {
  padding-top: 1rem;
}

body .overlay > div {
  background-color: white;
  min-height: 20vh;
  padding: 25px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #letterSelectors {
  display: -ms-grid;
  display: grid;
  font-size: 1.5rem;
  -ms-grid-columns: (minmax(2rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  gap: 0.25rem;
  width: 100%;
  margin: 1rem 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.098) 0px 3px 8px;
          box-shadow: inset rgba(0, 0, 0, 0.098) 0px 3px 8px;
  border-radius: 5px;
}

body #letterSelectors > div {
  border-radius: 5px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

body #letterSelectors > div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@-webkit-keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: blue;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: blue;
  }
}
/*# sourceMappingURL=style.css.map */