$primary-background-color: white;
$primary-color: #00b4be;
$btn-txt-color: white;
$border-radius: 5px;

.btn {
  background-color: $primary-color;
  color: $btn-txt-color;
  margin: 1rem;
  padding: 10px;
  border-radius: $border-radius;
  border: 0;
  font-size: 1.2rem;
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.5rem);
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

body {
  background-color: $primary-background-color;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  position: relative;
  h1 {
    color: black;
    font-size: 2rem;
  }
  input {
    border-radius: $border-radius;
    border: none;
    padding: 0.25rem 0.5rem;
    margin: 1rem 0;
    box-shadow: inset 0 0 5px #000000af;
    position: relative;
    overflow: visible;
    // padding-top: 1rem;
    &::placeholder {
      transition: font-size 1s;
      position: absolute;
      top: 0.5rem;
    }
    &:focus::placeholder {
      font-size: 0.75rem;
      transform: translateY(-0.25rem);
    }
  }
  > div {
    width: 100%;
  }
  .enter-name-box {
    // border: 1px solid blue;
    font-size: 1.5rem;
    input {
      font-size: 1.5rem;
    }
  }
  .type-tester {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-wrap: normal;
    box-sizing: border-box;
    .message {
      background-color: lightgray;
      border-radius: $border-radius;
    }
    #toType {
      padding: 0.5rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
    .highlighted {
      background-color: green;
      border-right: 2px solid transparent;
      animation-name: blink;
      animation-duration: 2s;
      // animation-delay: 2s;
      animation-iteration-count: infinite;
    }
    .mistake {
      background-color: red;
    }
    input {
      font-size: 1.5rem;
    }
  }
  .leaderboard {
    // border: 1px solid orange;
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      th {
        background-color: $primary-color;
        color: white;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(69, 69, 69, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      padding-top: 1rem;
    }

    > div {
      background-color: white;
      min-height: 20vh;
      max-height: 80vh;
      padding: 25px;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      overflow-y: scroll;
    }
  }
  #letterSelectors {
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    gap: 0.25rem;
    width: 100%;
    margin: 1rem 0;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    box-sizing: border-box;
    box-shadow: inset rgba(0, 0, 0, 0.098) 0px 3px 8px;
    border-radius: $border-radius;

    > div {
      border-radius: $border-radius;
      transition: all 250ms;
      background: rgba(255, 255, 255, 0.3);
      // border: 1px solid black;
      padding: 0.5rem 0;
      cursor: default;
      &[aria-current="true"] {
        color: $primary-color !important;
      }
      &[aria-active="true"] {
        cursor: pointer;
        background-color: $primary-background-color;
      }
      &[aria-active="true"]:hover {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: blue;
  }
}
